{% extends "layout.html" %}

{% block title %}

     Sell

{% endblock %}

{% block main %}

<form action = "/sell" method = "post">

    <div class = "mb-3">

        <div>
        <select name="symbol" id = "symbol">

            {% for stock in portfolio %}
                    <option value = "{{stock.symbol}}" name = "symbol">{{stock.symbol}}</option>
            {% endfor %}

        </select>

        </div>

        <div>
         <input autocomplete = "off" name = "shares" placeholder = " Number of shares " type = "number" min = "1" step = "1" required>
        </div>

        <div>
            <button class = "btn btn-primary" type = "submit">SELL</button>
        </div>
    </div>

</form>

{% endblock %}

